body {
  background-color: #FBE3D6;
  font-family: Bahnschrift Light Condensed;
  padding: 20px;
}

.logo {
  padding: 20px;
  width: 60px;
  height: 60px;
}

nav {
  background-color: #F1E6A1;
  border: 2px solid;
  padding: 5px;
}

nav a {
  display: inline-block;
  padding: 12px;
  border: 1px solid black;
  color: black;
  background-color: #83CBEB;
}

nav a:hover {
  color: purple;
  background-color: grey;
}

nav a:active {
  color: purple;
}

.footer {
  border: solid 2px;
  border-color: black;
  width: 1850px;
  background-color: grey;
}

.footer li {
  padding: 3px
}

p {
  font-family: Bahnschrift Light Condensed;
  font-size: 25px;
}
